main{
  margin: 0;
  width: 100%;
}

.container-detalles{
  padding: 1rem 2rem;
}

.detalle-img{
  max-width: 30%;
  margin: 10px 0;
}

.detalle-titulo{
  font-size: 1.5rem;
  margin: 5px 0;
}

.texto-container{
  text-align: start;
  margin: 10px 0;
}

.texto-container p{
  margin: 5px 0;
}

.boton{
  margin: 10px 0;
  padding: .5rem;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(2, 140, 2);
}

.boton:hover{
  background-color: rgb(66, 194, 66);
}